<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/main.css" rel="stylesheet">
    <script src="/webjars/jquery/jquery.min.js"></script>

<!--
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/js/app.js"></script>
-->

    <style>
    pre {
        font-size: 0.8em;
    }
    </style>


    <title>Code Display and Problem List using Bootstrap and Thymeleaf</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-3 p-3 bg-light">
            <h3 class="text-center">Problem List</h3>
            <ul class="list-group">
                <li class="list-group-item" th:each="prob : ${problems}">
                    <a class="problem-link" href="#" th:text="${prob}" th:attr="data-problem=${prob}"></a>
                </li>
            </ul>
        </div>
        <div class="col-9 p-3">
<!--
            <canvas width = "570" height = "570" id = "my_Canvas"></canvas>
-->

          <pre>
            <code class="language-java" id="code-block" th:text="${code}"></code>
          </pre>

            <div class="col-9 p-3">
                <button type="button" class="btn btn-danger mb-3" id="run-button">Run</button>
            </div>

            &lt;!&ndash; add a hidden spinner &ndash;&gt;
            <div class="col-9 p-3">
                <div class="spinner-border text-primary" role="status" id="spinner" style="display: none;">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>

        </div>
    </div>
</div>
<script>

      $(document).ready(function() {

      // ensure spinner is hidden
        $("#spinner").hide();

        $(".problem-link").click(function(e) {
          e.preventDefault();
          var problemName = $(this).data("problem");
          $.ajax({
            type: "GET",
            url: "/getCode",
            data: { problem: problemName },
            success: function(data) {
              $("#code-block").text(data);

              // now highlight the code
                $('pre code').each(function(i, block) {
                    hljs.highlightBlock(block);
                });

            }
          });
        });

        $("#run-button").click(function(e) {
          e.preventDefault();
          //var problemName = $(".problem-link.active").data("problem");
          var problemName = "test";
          $("#spinner").show();
          $.ajax({
            type: "GET",
            url: "/getCode",
            data: { problem: problemName },
            success: function(data) {
              $("#code-block").text(data);
              $("#spinner").hide();
            }
          });
        });

      });

    </script>
    <script src="/js/dynamiccube.js"></script>

</body>
</html>
